* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.minha-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
